# FiveThirtyEight's Pollster Ratings & Goodreads: Reshaping Wide to Long

## Table of Contents

1. Introduction
2. Install & Import Packages
3. FiveThirtyEight's Pollster Ratings
4. Melt
5. Goodreads Books
6. Wide_to_Long

## 1. Introduction

Data is commonly in wide format, with rows being unique individual observations (no repeated records) and columns being features for each observation. However, long format, with each row being a single feature and multiple rows for each observation, is tidier as it's structured in key-value pairs and can be better for summarizing data and advanced analysis and plotting. Today, we'll work with the melt method and pd.wide_to_long function to reshape data from wide to long.  

First, we'll work with FiveThirtyEight's ratings of 453 pollsters, used to weight polls with higher quality more than those with lower quality in forecasts (https://projects.fivethirtyeight.com/pollster-ratings/). We'll use the melt method to reshape the data from wide to long, focusing on the variables 538 grade, mean-reverted bias, and mean-reverted advanced plus minus. You can learn more about how FiveThirtyEight calculates pollster ratings here (https://fivethirtyeight.com/features/how-fivethirtyeight-calculates-pollster-ratings/).

Next, we'll work with Goodreads data on 50,000+ books. Since it has similar column names that can be broken down into suffixes and prefixes, we'll use the pd.wide_to_long function to reshape it from wide to long format, focusing on book title, page count, rating, and review count. Keep in mind that pd.wide_to_long creates a new multilevel index for the long dataframe.

The purpose is to reshape data from wide to long format so that it's tidier and can be used later for summary, analysis, and plotting.

## 2. Install & Import Packages

In [355]:
import pandas as pd
import numpy as np

## 3. FiveThirtyEight's Pollster Ratings

In [356]:
# Read in data
url = 'https://raw.githubusercontent.com/fivethirtyeight/data/master/pollster-ratings/pollster-ratings.csv'
polls = pd.read_csv(url)

# Check first and last 5 rows
pd.concat([polls.head(), polls.tail()])

,Pollster,Pollster Rating ID,# of Polls,NCPP / AAPOR / Roper,Live Caller With Cellphones,Methodology,Banned by 538,Predictive Plus-Minus,538 Grade,Mean-Reverted Bias,...,Simple Expected Error,Simple Plus-Minus,Advanced Plus-Minus,Mean-Reverted Advanced Plus Minus,# of Polls for Bias Analysis,Bias,House Effect,Average Distance from Polling Average (ADPA),Herding Penalty,latest_poll
0,Monmouth University,215,108,yes,yes,Live,no,-1.6,A+,D +1.3,...,6.7,-1.2,-2.0,-1.6,71,D +1.8,R +0.4,5.2,0.20,3/13/20
1,Selzer & Co.,304,48,yes,yes,Live,no,-1.3,A+,D +0.1,...,6.1,-1.3,-1.8,-1.1,31,D +0.2,D +0.2,5.2,0.00,11/1/18
2,ABC News/The Washington Post,3,73,yes,yes,Live,no,-1.3,A+,D +0.5,...,4.8,-1.7,-1.7,-1.2,68,D +0.8,D +1.3,3.8,0.12,10/31/18
3,Siena College/The New York Times Upshot,448,59,yes,yes,Live,no,-1.1,A+,R +0.3,...,5.7,-1.6,-1.5,-1.1,58,R +0.4,D +0.4,4.4,0.19,1/22/20
4,Field Research Corp. (Field Poll),94,25,yes,yes,Live,no,-1.1,A/B,R +0.7,...,5.6,-1.5,-2.0,-0.7,18,R +2.5,D +0.6,4.7,0.01,5/29/16
448,SurveyMonkey,324,210,no,no,Online,no,2.6,D-,D +5.0,...,4.4,2.9,2.3,2.1,197,D +5.6,D +2.9,5.5,0.00,10/15/19
449,Nielson Brothers Polling,231,9,no,no,IVR,no,3.0,C/D,D +2.9,...,5.1,7.3,8.0,1.9,9,D +12.2,D +9.9,8.2,0.00,10/25/16
450,TCJ Research,327,132,no,no,IVR,yes,3.0,F,R +4.4,...,4.5,2.1,3.0,2.4,124,R +5.6,R +3.5,4.4,0.00,11/5/12
451,Humphrey Institute,143,12,no,no,Landline,no,3.0,C/D,D +0.6,...,6.5,11.6,9.2,1.9,8,D +3.8,D +3.0,5.5,0.00,10/23/10
452,Jayhawk Consulting,157,2,no,no,Landline,no,3.4,C/D,D +3.0,...,5.8,32.0,26.9,2.1,2,D +37.6,D +10.9,NaN,0.00,10/23/18

In [357]:
# Check shape - we have 453 polls
polls.shape

(453, 23)

## 4. Melt

In [358]:
# id_vars are the identifiers - let's use Pollster and Methodology
# value_vars are the variables we want to focus on - 538 Grade, Mean-Reverted Bias, and Mean-Reverted Advanced Plus Minus
# var_name is the variable name - Feature
# value_name is the value name - Value

# Pollster, Methodlogy are in the long format and match each feature for each observation
# In the new Feature column, we have the variables we want with one row for each observation and corresponding values in the new column Value

polls = polls.melt(id_vars=['Pollster', 'Methodology'], 
                   value_vars=['538 Grade', 'Mean-Reverted Bias', 'Mean-Reverted Advanced Plus Minus'], 
                   var_name='Feature', 
                   value_name ='Value')

# Check first and last 5 rows
pd.concat([polls.head(), polls.tail()])

,Pollster,Methodology,Feature,Value
0,Monmouth University,Live,538 Grade,A+
1,Selzer & Co.,Live,538 Grade,A+
2,ABC News/The Washington Post,Live,538 Grade,A+
3,Siena College/The New York Times Upshot,Live,538 Grade,A+
4,Field Research Corp. (Field Poll),Live,538 Grade,A/B
1354,SurveyMonkey,Online,Mean-Reverted Advanced Plus Minus,2.1
1355,Nielson Brothers Polling,IVR,Mean-Reverted Advanced Plus Minus,1.9
1356,TCJ Research,IVR,Mean-Reverted Advanced Plus Minus,2.4
1357,Humphrey Institute,Landline,Mean-Reverted Advanced Plus Minus,1.9
1358,Jayhawk Consulting,Landline,Mean-Reverted Advanced Plus Minus,2.1

## 5. Goodreads Books

In [359]:
# The code was removed by Watson Studio for sharing.

In [360]:
# Read in data - we see that we have similar column names
books = pd.read_csv(body)
books.head()

,book_authors,book_desc,book_edition,book_format,book_isbn,book_pages,book_rating,book_rating_count,book_review_count,book_title,genres,image_url
0,Suzanne Collins,Winning will make you famous. Losing means cer...,NaN,Hardcover,9.78044E+12,374 pages,4.33,5519135,160706,The Hunger Games,Young Adult|Fiction|Science Fiction|Dystopia|F...,https://images.gr-assets.com/books/1447303603l...
1,J.K. Rowling|Mary GrandPré,There is a door at the end of a silent corrido...,US Edition,Paperback,9.78044E+12,870 pages,4.48,2041594,33264,Harry Potter and the Order of the Phoenix,Fantasy|Young Adult|Fiction,https://images.gr-assets.com/books/1255614970l...
2,Harper Lee,The unforgettable novel of a childhood in a sl...,50th Anniversary,Paperback,9.78006E+12,324 pages,4.27,3745197,79450,To Kill a Mockingbird,Classics|Fiction|Historical|Historical Fiction...,https://images.gr-assets.com/books/1361975680l...
3,Jane Austen|Anna Quindlen|Mrs. Oliphant|George...,«È cosa ormai risaputa che a uno scapolo in po...,"Modern Library Classics, USA / CAN",Paperback,9.78068E+12,279 pages,4.25,2453620,54322,Pride and Prejudice,Classics|Fiction|Romance,https://images.gr-assets.com/books/1320399351l...
4,Stephenie Meyer,About three things I was absolutely positive.F...,NaN,Paperback,9.78032E+12,498 pages,3.58,4281268,97991,Twilight,Young Adult|Fantasy|Romance|Paranormal|Vampire...,https://images.gr-assets.com/books/1361039443l...

In [361]:
# There are 54301 books
books.shape

(54301, 12)

In [362]:
# Removed 'pages' from book pages column
books['book_pages'] = books['book_pages'].replace(' pages', '', regex=True)

# Rename book_title column to title (as we'll use this as the index later so it shouldn't have the same suffix as the variables)
books = books.rename(columns={'book_title':'title'})

In [363]:
# Let's keep the variables we want to focus on
keep = ['title', 'book_pages', 'book_rating', 'book_review_count']
books = books[keep]
books.head()

,title,book_pages,book_rating,book_review_count
0,The Hunger Games,374,4.33,160706
1,Harry Potter and the Order of the Phoenix,870,4.48,33264
2,To Kill a Mockingbird,324,4.27,79450
3,Pride and Prejudice,279,4.25,54322
4,Twilight,498,3.58,97991

In [364]:
# Since we'll be reshaping wide to long, we need to have unique id variables, in this case title. 

# Number of duplicate titles
books.shape[0] - books['title'].nunique()

5818

In [365]:
# Let's drop duplicate titles
books = books.drop_duplicates(subset=['title'])
books.shape

(48483, 4)

## 6. Wide_to_Long

In [366]:
# stubnames is the prefix for the similar column names
# i is the index variable we want, in this case title
# j is the name of variables we'll be moving to long format (the suffixes) - this will be the 2nd level index
# sep is the separator for the similar column names (default is no space or character)
# suffix here is a word so we use regex \w+ (default is number). We can also use regex \.+ for any characters

books_long = pd.wide_to_long(books, stubnames=['book'], i='title', j='feature', sep='_', suffix='\w+')
books_long

                                                                book
title                                              feature
The Hunger Games                                   pages         374
Harry Potter and the Order of the Phoenix          pages         870
To Kill a Mockingbird                              pages         324
Pride and Prejudice                                pages         279
Twilight                                           pages         498
...                                                              ...
Taking the Field: A Fan's Quest to Run the Team... review_count    9
The Baseball Talmud: Koufax, Greenberg, and the... review_count    5
Wilpon's Folly - The Story of a Man, His Fortun... review_count    3
He Wanted the Moon: The Madness and Medical Gen... review_count  187
The Anthology and the Rise of the Novel: From R... review_count    3

[145449 rows x 1 columns]

In [367]:
# Check shape of long dataframe 
books_long.shape

(145449, 1)